<div *ngIf="friends.length > 0; else noFriends" class="friends-section">
  <h2>Friends List</h2>
  <ul class="no-bullets">
    <li *ngFor="let friend of friends">
      <label>
        <input type="checkbox" 
          [checked]="friend.selected"
          (change)="toggleFriendSelection(friend)">
      <span [style.color]="getFriendColor(friend._id)">
        {{ friend.username }}
      </span>
      </label>
    </li>
  </ul>
</div>

<ng-template #noFriends>
  <p>No friends found.</p>
</ng-template>
