<!-- Current User Section -->
<!-- <div *ngIf="currentUser" class="current-user-section">
  <h2>Me</h2>
  <ul class="no-bullets-user">
    <li class="user-item">
      <label class="user-label">
        <span class="color-circle" [style.background-color]="getUserColor(currentUser._id)"></span>
        <span class="username" style="color: black;">
          {{ currentUser.username }}
        </span>
        <input type="checkbox" 
          [checked]="currentUser.selected"
          (change)="toggleFriendSelection(currentUser)"
          class="aligned-checkbox">
      </label>
    </li>
  </ul>
</div> -->

<!-- Friends Section -->
<div *ngIf="friends.length > 0; else noFriends" class="friends-section">
  <h2>Social Planners</h2>
  <ul class="no-bullets-friends">
    <li *ngFor="let friend of friends" class="friend-item">
      <label class="friend-label">
        <span class="color-circle" [style.background-color]="getFriendColor(friend._id)"></span>
        <span class="username" style="color: black;">
          {{ friend.username }}
        </span>
        <input type="checkbox" 
          [checked]="friend.selected"
          (change)="toggleFriendSelection(friend)"
          class="aligned-checkbox">
      </label>
    </li>
  </ul>
</div>

<ng-template #noFriends>
  <p>No friends found.</p>
</ng-template>
