<div class="button-container">
<button class="theme-button" (click)="switchTheme('default-theme')">Default</button>
<!-- <button class="theme-button" (click)="switchTheme('pusheen-theme')">Pusheen</button> -->
<button class="theme-button" (click)="switchTheme('pusheen-theme')">
    <img src= '/assets/images/pusheen-default-button.svg' alt="Pusheen Theme">
</button>
<!-- <button class="theme-button" (click)="switchTheme('gamer-pusheen-theme')">Gamer Pusheen</button>
<button class="theme-button" (click)="switchTheme('boba-pusheen-theme')">Boba Pusheen</button> -->
<button class="theme-button" (click)="switchTheme('aries')">
    <img src= '/assets/images/horoscope-buttons/Aries_fixed.svg' alt="Aries Theme">
</button>
<button class="theme-button" (click)="switchTheme('taurus')">
    <img src="/assets/images/horoscope-buttons/Taurus_fixed.svg" alt="Taurus Theme">
  </button>
  <button class="theme-button" (click)="switchTheme('gemini')">
    <img src="/assets/images/horoscope-buttons/Gemini_fixed.svg" alt="Gemini Theme">
  </button>
  <button class="theme-button" (click)="switchTheme('cancer')">
    <img src="/assets/images/horoscope-buttons/Cancer_fixed.svg" alt="Cancer Theme">
  </button>
  <button class="theme-button" (click)="switchTheme('leo')">
    <img src="/assets/images/horoscope-buttons/Leo_fixed.svg" alt="Leo Theme">
  </button>
  <button class="theme-button" (click)="switchTheme('virgo')">
    <img src="/assets/images/horoscope-buttons/Virgo_fixed.svg" alt="Virgo Theme">
  </button>
  <button class="theme-button" (click)="switchTheme('libra')">
    <img src="/assets/images/horoscope-buttons/Libra_fixed.svg"alt="Libra Theme">
  </button>
  <button class="theme-button" (click)="switchTheme('scorpio')">
    <img src="/assets/images/horoscope-buttons/Scorpio_fixed.svg" alt="Scorpio Theme">
  </button>
  <button class="theme-button" (click)="switchTheme('saggitarius')">
    <img src="/assets/images/horoscope-buttons/Sagittarius_fixed.svg" alt="Saggitarius Theme">
  </button>
  <button class="theme-button" (click)="switchTheme('capricorn')">
    <img src="/assets/images/horoscope-buttons/Capricorn_fixed.svg" alt="Capricorn Theme">
  </button>
  <button class="theme-button" (click)="switchTheme('aquarius')">
    <img src="/assets/images/horoscope-buttons/Aquarius_fixed.svg" alt="Aquarius Theme">
  </button>
  <button class="theme-button" (click)="switchTheme('pisces')">
    <img src="/assets/images/horoscope-buttons/Pisces_fixed.svg" alt="Pisces Theme">
  </button>
</div>
<!-- <button class="theme-button" (click)="switchTheme('taurus')">Taurus</button>
<button class="theme-button" (click)="switchTheme('gemini')">Gemini</button>
<button class="theme-button" (click)="switchTheme('cancer')">Cancer</button>
<button class="theme-button" (click)="switchTheme('leo')">Leo</button>
<button class="theme-button" (click)="switchTheme('virgo')">Virgo</button>
<button class="theme-button" (click)="switchTheme('libra')">Libra</button>
<button class="theme-button" (click)="switchTheme('scorpio')">Scorpio</button>
<button class="theme-button" (click)="switchTheme('saggitarius')">Saggitarius</button>
<button class="theme-button" (click)="switchTheme('capricorn')">Capricorn</button>
<button class="theme-button" (click)="switchTheme('aquarius')">Aquarius</button>
<button class="theme-button" (click)="switchTheme('pisces')">Pisces</button> -->

