<!-- src/app/settings/settings.component.html -->
<div class="settings-container">
  <h2>Settings Page</h2>

  <!-- Information Section about Calndr App -->
  <div class="info-section">
    <h3>About Calndr
      <i class="info-icon" title="Calndr is a calendar application that helps you manage your events and share them with friends.">&#9432;</i>
    </h3>
    <p>Calndr is a calendar application that helps you manage your events and share them with friends.</p>
  </div>

    <!-- Customization Section -->  
  <div class="themes-section">
    <h3>Choose your theme...</h3>
    <app-theme-switcher></app-theme-switcher>
  </div>
</div>
