/* src/app/settings/settings.component.css */
.settings-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.info-section {
  margin-top: 40px;
  margin-bottom: 40px;
}

.info-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-style: normal;
  color: blue;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}


